<p>
    I was developing the Codility system - an automated tool to assess programming skills.
    I was coding mainly in <b>Django</b> framework and <b>HTML/CSS/Javascript</b>. Additionally, I designed a few programming
    puzzles including writing solutions, tests and problem descriptions. The biggest project that
    I accomplished during the internship was integrating the Codility system with 'valgrind' –
    a tool to help detect memory leaks in C/C++ programs and display stack traces of crashed programs.
</p>