<div>
  <div class="container">
    <ul class="timeline">
      <li ng-repeat="item in experience.experience" ng-class="::{'timeline-inverted': $index % 2}">
        <div class="timeline-badge" ng-class="::{
            'primary': item.type === 'work',
            'success': item.type === 'thesis',
            'info': item.type === 'internship'
          }">
          <i class="fa" ng-class="::{
            'fa-briefcase': item.type === 'work',
            'fa-graduation-cap': item.type === 'thesis',
            'fa-book': item.type === 'internship'
          }"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">{{ ::item.name }}</h3>
            <h4 ng-if="::item.position">{{ ::item.position }}</h4>
            <p><small class="text-muted">{{ ::item.period }}</small></p>
          </div>
          <div class="timeline-body">
            <p ng-bind-html="item.description"></p>
            <p class="pull-right"><button class="btn btn-default" type="button">more</button></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>