<div class="row">
    <div class="col-sm-8">
        <p>
            Hello, I'm Grzegorz Swatowski. I got my bachelor's degree in Mathematics and Computer Science from University of Warsaw.
        </p>
        <p>
            Now, I am a part of a team developing USOS - a big academic system consisting of large database and few applications around this database.
            The application within USOS system I contribute the most is <a href="http://usosapps.uw.edu.pl/developers/api/">USOSapi</a> -
            a web application that allows developers to access academic database through a simple REST protocol.
        </p>
        <p>You can find here a little information about me and a list of a few of my projects with details</p>
        <p>I am an <a href="http://angularjs.org/">angular.js</a> enthusiast. This site has been created among others in this frantic technology.</p>
        <p>I'm glad you're here :)</p>
    </div>
    <div class="col-sm-4">
        <img src="images/profil.jpg">
    </div>
</div>
